{% extends 'base.html' %}

{% block title %}POST-IT{% endblock %}

{% block addon_nav %}
    <h3  class="general-button">{{ session['username'] }} </h3>
{% endblock %}


{% block content %}

       <div class="create-post-container">
        <form action="{{url_for('add_new_post')}}" method="POST">
            <label for="text" class="input-label">Give In Your Title for the Post...</label>
            <textarea name="title-area" id="text" rows="3" placeholder="Enter post title" required></textarea>
            <textarea name="Content" rows="10" class="text-area-content" placeholder="Now write your post Here" required></textarea>
            <button type="submit">POST-IT</button>
        </form>
    </div>
    
{% endblock %}





 
</body>
</html>

</html>