{% extends 'base.html'  %}

{% block title %} Login {% endblock %}
  
{% block addon_nav %}
        <div class="nav-right">
            <a href="{{ url_for('signup') }}" class="general-button">Sign_Up</a>
        </div>
{% endblock %}

{% block content %}
  <!-- Login form -->
  <div class="form-wrapper">
  <form action="{{ url_for('login') }}" method="POST" class="login-page-form">

     {{ form.hidden_tag() }}
    {{ form.username.label }} {{ form.username() }}
    
    <br>

    {{ form.password.label }} {{ form.password() }}<br>
    {{ form.submit() }}
    
  </form>
</div>
{% endblock %}


